/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


body {
	margin: 0;
	padding: 30px;
	font-family:  'Alice', serif;
	font-size: 18px;
	line-height: 1.5;
}


h1, h2, h3 {
	font-family: 'Kaushan Script', cursive;
	font-weight: normal;
	margin: 0;
	text-align: center;
}

h1
{
	color: var(--zelena);
	font-size: 36px;
}

h2
{
	color: var(--zelena);
	font-size: 30px;
}

p
{
	text-align: justify;
}

blockquote::before
{
	content: "";
	display: block;
	width: 30%;
	margin: 0 auto;
	padding-bottom: 10px;
	border-top: 1.5px solid var(--limetka)
}

blockquote 
{
	font-family: 'Kaushan Script', cursive;
	color: var(--seda);
	text-align: center;
	font-size: 24px;
}

blockquote::after
{
	content: "";
	display: block;
	width: 30%;
	margin: 0 auto;
	padding-top: 10px;
	border-bottom: 1.5px solid var(--limetka);
}

header p:first-of-type
{
	color: var(--tmava);
	text-align: center;
}

.tip
{
	background-color: var(--svetla);
	padding: 15px;
	width: 250px;
}

.tip p
{
	margin: 0;
	color: var(--tmava);
}

.tip a 
{
	color: var(--cervena);
}

.tip img
{
	width: 100%;
}

.tip-vlevo
{
	border-right: 3px solid var(--oranzova);
	margin: 0 0 20px 40px;
	float: right;
}

.tip-vpravo
{
	border-left: 3px solid var(--oranzova);
	margin: 0 20px 40px 0;
	float: left;
}

figure
{	
	width: 450px;
	margin: 0 auto;
}

figure img
{
	width: 100%;
}

figure figcaption
{
	color: var(--seda);
	text-align: center;
}

footer p, a
{
	color: var(--seda);
}

@media screen and (min-width: 1000px)
{
	
}

/* --------------------------------------------------- */

/* barvy */
:root {
	--svetla: #edf3f5;
	--seda: #b2bec3;
	--tmava: #636e72;
	--oranzova: #ee5a24;
	--cervena: #ea2027;
	--zluta: #f79f1f;
	--zelena: #a3cb38;
	--limetka: #c4e538;
}

/*
	Všimni si, jak jsou zde nadefinované barvy.
	Potřebný kód barvy si odtamtud můžeš vyzobnout a použít
	ve svém kódu, ale existuje i lepší způsob.

  CSS custom properties, někdy také označované jako CSS
	variables (CSS proměnné), je způsob, jak si	pojmenovat
	nějakou hodnotu a potom ji v kódu opakovaně používat.
	Často se používá právě pro barvy a další "nastavení".

	Když si chci nějakou hodnotu nadefinovat, použiji zápis
	--mujnazev: hodnota
	Když chci, abych mohl hodnotu používat všude v CSS,
	založím ji uvnitř selektoru :root, takže např.:
	:root {
		--mojebarva: #ff8800;
	}

	Chci-li potom dál v CSS hodnotu použít, stačí použít funkci var a v závorce název proměnné.Např.:
	.odstavec {
		color: var(--mojebarva);
	}

	Nemusím si tak pamatovat kódy barev nebo neustále v CSS jezdit nahoru a dolů, abych si je odněkud zkopíroval.

	Více o CSS custom properties:
	- https://www.w3schools.com/css/css3_variables.asp
	- https://css-tricks.com/patterns-for-practical-css-custom-properties-use/
	- https://www.smashingmagazine.com/2017/04/start-using-css-custom-properties/
*/

